@font-face {
    font-family: "proxima-nova";
    src: url("img/Fontspring-DEMO-proximanova-regular.otf") format("opentype");
  }

  @font-face {
    font-family: "bodoni 175";
    src: url("img/LTC\ Bodoni\ 175\ W01\ Regular.otf") format("opentype");
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "bodoni 175";
}

header {
    position: sticky;
    display: flex;
    padding: 30px 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header__title {
    width: 50%;
}

.header__title a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.header__nav {
    width: 50%;
    line-height: 47px;   
}

.header__nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.header__nav li {
    display: inline-block;
    margin-left: 30px;
}

.header__nav__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "proxima-nova";
    font-weight: lighter;
}

main {
    margin: 90px 0 240px;
}

h2 {
    font-size: 55px
}

.main__title {
    text-align: center;
    font-size: 55px;
}

.hero {
    margin-top: 120px;
    background-color: #f1f1ef;
    display: flex;
    justify-content: space-between;
}

.hero__left h2 {
    padding: 130px 60px 30px;
}

.hero__left p {
    font-family: "proxima-nova";
    line-height: 33px; 
    padding: 0 60px 0 60px;
    font-size: 18px;
}

.hero__right {
    padding: 60px 60px;
}

.video {
    background-image: url("/img/Screenshot_1.jpg");
    height: 578px;
    width: 1028px;
}

.blogs__title {
    margin: 50px 60px;
}

.blogs {
    margin-left: 60px;
    display: flex;
}

.post {
    width: 400px;
    margin-right: 60px;
}

.post img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
}

.post h5 {
    font-family: "proxima-nova";
    font-size: 27px;
    margin: 10px 0;
}

.post p {
    font-family: "proxima-nova";
}

.post__readmore {
    text-decoration: none;
    color: black;
    font-family: "proxima-nova";
    margin: 15px 0;
    display: inline-block;
}

.post__readmore:after {
    content:  " \2192";
}

.post__date {
    color: gray;
    font-size: 15px;
}

.insider {
    display: flex;
    margin: 0 60px 120px;
}

.insider__right {
    margin-left: 40px;
    width: calc(50% - 40px);
}

.insider__left {
    width: 50%;
}

.insider__img {
    width: 100%;
    height: 748px;
}

.insider p {
    font-size: 18px;
    font-family: "proxima-nova";
}

.insider h2 {
    line-height: 75px;
    margin: 40px 0;
}

.insider__ButtonCheckItOut {
    background-color: black;
    color: white;
    padding: 25px;
    font-family: "proxima-nova";
    font-size: 18px;
    text-decoration: none;
}

.insider__ButtonCheckItOut:hover {
    background-color: #333333;
}

footer {
    background-color: #f1f1ef;
    font-family: "proxima-nova";
    padding: 0 60px;
}

.footer__title {
    font-size: 30px;
    padding-top: 50px;
}

.footer__email {
    padding: 50px 0;
    font-weight: bold;
}

.footer__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__navbar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 10px;
}