* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#links_box {
    display: flex;
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

#pos_logo {
    margin: 40px;
}

main {
    position: relative;
    margin-bottom: 30px;
}

.main_img {
    display: block;
    width: 100%;
}

.main_info {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.9em;
    padding: 30px 100px;
    width: 40%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.hero {
    position: relative;
}

.hero_content {
    width: 70%;
    margin: 100px auto;
    position: relative;
}

.main_info h1 {
    margin-bottom: 20px;
}

.corner_logos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    bottom: -50px;
}

.logo_square {
    width: 100px;
}

.logo_square + .logo_square {
    margin-left: 30px;
}

.truster_box {
    width: 90%;
    margin: auto;
}

.truster_box h3 {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.trusters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trusters img {
    max-height: 40px;
    margin: 50px;
}

.trusters a {   
    flex-basis: 13%;
}

.big_quote {
    background-color: #ddd;
    margin: 2%;
    padding: 30px;

}

.testimonial {
    margin: 0 20%;
    font-size: 25px;
    line-height: 1.75;
    position: relative;
    padding: 25px;
    font-weight: 500;
}

.testimonial:first-of-type:before { 
    content: '"';
    font-size: 100px;
    position: absolute;
    left: -40px;
    top: -55px;
}

.source {
    padding-left: 25px;
    font-size: 18px;
    line-height: 1.75;
    margin: 0 20%;
}

.centra_prev_next {
    text-align: center;
    line-height: 1.3;
}

#previous_testimonial {
    text-align: right;
    color: grey;
    display: inline-block;
    width: 110px;
}

#next_testimonial {
    text-align: left;
    margin-left: 30px;
    display: inline-block;   
    width: 110px;
}

#low_wrapper {
    margin: 0 2%;
}

#secondary_nav {
    margin: 70px 0;
    display: flex;
}

.footer_link {
    width: calc(100% / 7);
}

.footer_link a {
    display: inline-block;
    margin: 15px 0;
}

.secondary_links {
    display: flex;
}

.more_links li {
    display: inline-block
}

.more_links a {
    color: black;
    margin-right: 50px;
    font-weight: 600;
}

#link_twitter a {
    background-color: rgb(29, 155, 240);
    border-radius: 25px;
    padding: 4px 10px;
    color:white;
    text-decoration: none;
    margin-right: 0;
}

#link_twitter span {
    border: 1px gray solid;
    border-radius: 5px;
    font-size: 10px;
    padding: 9px;
    
}

#link_twitter a:hover {
    background-color: #0c7abf;
}

#footer_notes {
    text-align: center;
    margin: 100px 0;  
}

#footer_notes h3 {
    margin-bottom: 25px;
}

#footer_notes a {
    color: black;
    font-weight: 700;
}
